/* Lora */
/* Lora */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lora-v37-latin_latin-ext-700.woff2') format('woff2');
    font-display: swap;
}