nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display:inline;
    padding-right: 5px;
    margin-right: 10px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav .active{
    border-bottom: 2px solid black;
}
nav a:hover{
    border-bottom: 2px solid black;
}

@media screen and (max-width: 600px) {
    nav ul li{
        display: block;
        padding-top: 15px;
    }

    nav{
        float:none;
    }
  }