@import "navigation.css";
@import "footer.css";

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#main{
    width: 600px;
    background-color: #dbdbdb;
    padding:25px;
}