@import "navigation.css";
@import "footer.css";

body{
    margin: 0;
    background-color: #062c43;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#main{
    width: 750px;
    background-color: white;
    padding:25px;
    margin-bottom: 25px;
}
#header h2{
    display: inline;
    margin: 0px 25px 0px 0px;
    color: #9f694b;
}

section{
    border-bottom: 2px solid #9f694b;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#projects table td{
    padding: 10px;
    height: 100px;
}

#projects table td:first-child
{
    vertical-align: middle;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #container {
      margin: 0;
    }

    #main{
        width: 100%;
    }
}
